{% extends 'index.html' %}
{% block head %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand">zerShop</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div>
                    {% if user.is_authenticated %} {% if request.user.is_superuser %}
                    <a class="btn btn-success btn-sm ml-3" href="{% url 'product_new' %}">Добавить продукт</a>
                    <a class="btn btn-success btn-sm ml-3" href="/admin/">Админка</a>
                    {% endif %}
                    <a class="btn btn-success btn-sm ml-3" href="{% url 'logout' %}">Выйти</a>
                    {% else %}
                    <a class="btn btn-success btn-sm ml-3" href="{% url 'signup' %}">Регистрация</a>
                    <a class="btn btn-success btn-sm ml-3" href="{% url 'login' %}">Войти</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">E-COMMERCE CATEGORY</h1>
        <p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem
            Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble
            des morceaux de texte pour réaliser un livre spécimen de polices de texte...</p>
    </div>
</section>
{% endblock head %}