{% extends 'index.html' %} {% block nav %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'products' %}">zerShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %} {% if request.user.is_superuser %}
                <a class="btn btn-success btn-sm ml-3" href="{% url 'product_new' %}">Добавить продукт</a>
                <a class="btn btn-success btn-sm ml-3" href="/admin/">Админка</a>
                {% endif %}
                <a class="btn btn-success btn-sm ml-3" href="{% url 'logout' %}">Выйти</a>
                {% else %}
                <a class="btn btn-success btn-sm ml-3" href="{% url 'signup' %}">Регистрация</a>
                <a class="btn btn-success btn-sm ml-3" href="{% url 'login' %}">Войти</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
{% endblock %}