{% extends 'index.html' %}

{% block product %}
    <div class="row">
        <div class="col" style="margin:15px 0;">
                <a class="btn btn-primary" href="{% url 'product_edit' product.pk %}">Править продукт</a>
                <a class="btn btn-primary" href="{% url 'product_delete' product.pk %}">Удалить продукт</a>
                <div class="card">
                <img class="card-img-top" src="/media/{{product.image}}" alt="{{product.title}}">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'product' product.id %}">{{product.title}}</a></h5>
                    <p class="card-text">{{product.description}}</p>
                </div>
                <div class="card-footer ">
                    <div class="row">
                        <div class="col">
                            <big class="text-muted">{{product.price}} руб.</big>
                        </div>
                        <div class="col text-right">
                            <a href="#" class="btn btn-primary">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}